@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-4 text-center">Witaj na Word 5</h2>
    </br>
    <h4>
        Word 5 jest stroną która w łatwy i skuteczny sposób pozwoli ci nauczyć się obcojęzycznego słownictwa.
    </h4>
    </br>
    <h4 class="text-center">Zarejestruj się by zaczac naukę!</h4>
    <h4 class="text-center">(<b>Konto testowe:</b> UserName: UserTest, Hasło: User123)</h4> 
    
    </br>
    <h4>
        Najskuteczniejszą formą zapamiętywania jest systematyczne powtarzanie przyswojonych informacji. Ważne jest by powtórki odbywały się w odpowienich interwałach. Jest to tzw. efekt interwału (ang. spacing effect).
        Według badań naukowych (<a add target="_blank" href="https://www.gwern.net/Spaced-repetition">link</a>), najefektywniej jest powtarzać słownictwo w następujących interwałach:</h4>
                               <h3 class="text-center">1 dni - 2 dni - 9 dni - 15 dni</h3>
                               <h4> Word 5 pozoli ci stworzyć własną bazę słów, następnie automatycznie wygeneruje dla ciebie powtórki stosując efekt interwału.</h4>
    
    </br>
    <h3>Jak działa Word 5?</h3>
    </br>
    <h4>
        Zakładka <b>Słownik</b> pozwoli ci przeglądać i modyfikować stworzone przez ciebie zestawy słów.</br>
        Zakładka <b>Dodaj zestaw</b> umożliwia tworzenie nowych zestawy słów.</br>
        Zakładka <b>Kalendarz</b> przechowuje informacje na temat dat poszczególnych powtórek.</br>
        Zakładka <b>Zacznij powtórkę!</b> pozwoli ci zrealizować powtórki.</br>
    </h4>


</div>
