@model Models.Set

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border">
        <div class="form-group row mt-2">
            <label class="col-2 pt-2 ml-2" asp-for="Name">Nazwa</label>
            <div class="col-6">
                <input asp-for="Name" class="form-control" type="text" placeholder="Podaj nazwe" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 pt-2 ml-2" asp-for="NativeLanguage">Jezyk natywny</label>
            <div class="col-6">
                <input asp-for="NativeLanguage" class="form-control" type="text" placeholder="Podaj język oryginalny" />
                <span asp-validation-for="NativeLanguage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 pt-2 ml-2" asp-for="LearnLanguage">Jezyk do nauki</label>
            <div class="col-6">
                <input asp-for="LearnLanguage" class="form-control" type="text" placeholder="Podaj język do nauczenia" />
                <span asp-validation-for="LearnLanguage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-2 pt-2 ml-2" asp-for="CreateDate">Data utworzenia</label>
            <div class="col-6">
                <input asp-for="CreateDate" placeholder="mm/dd/yyyy" id="datepicker_dob" type="text" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>

    </div>

        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Dodaj zestaw</button>
            </div>
            <div class="col">
                <a asp-action="Index" asp-controller="Home" class="btn btn-info form-control">Powrót</a>
            </div>
        </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
         $("#datepicker_dob").datepicker({ dateFormat: "yy-mm-dd" }).datepicker("setDate", new Date()); // Set default date as today date
        

    </script>
}